$mainDark: #0f1922;
$mainGreen: #43dac3;
$mainBlue: #436cff;
$red: #e1548e;
$nTextGray: #818181;

$colorLightGrey: #ededed;
$colorLightGreen: #67d7c1;
$colorDarkGrey: #5a5a5a;

$colorNightWhite: rgba(255, 255, 255, 0.2);

$nGreenBg: #38b6ae;
$nGreenBgHover: #2f8d87;

$grayBgLight: #dbdbdb;
$grayBgHover: #a8a6a6;

$textLightGrey: #afafaf;
